---
import BaseLayout from "@/layouts/base.astro";
import Globe from "@/components/globe.astro";
---

<BaseLayout>
  <h1
    class="relative font-serif font-semibold text-center md:text-5xl text-4xl pt-5"
  >
    🌎Earth Pulse
  </h1>
  <Globe />
</BaseLayout>
